@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Lato:wght@700&family=Nunito&family=Poppins&family=Quicksand&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Kanit';
    background-color: #80cfdd;
}

header {
    background-image: linear-gradient(to right, #033141 10%, #80cfdd);
    padding: 20px;
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

header > h1{
    color: #ffffff;
    font-size: 42px;
}

header > h1 > i{
    margin-right: 20px;
}

header > ul{
    list-style-type: none;
}

header > ul {
    display: flex;
}

header > ul > li > a {
    font-size: 20px;
    margin-right: 20px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

header > ul > li > a:hover {
    color: rgb(0, 0, 0);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 20px;
}

.cima{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.foto{
    background-color: white;
    border-radius: 100%;
    padding: 20px;
}

.foto > img{
    width: 300px;
    border-radius: 50%;
}

.sobre-mim{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    height: 300px;
    background-color: white;
    padding: 20px;
}

.sobre-mim > h1, .sobre-mim > h2, .sobre-mim > ul{
    margin: 0;
}

.sobre-mim > h1{
    color: #033141;
    font-size: 42px;
}

.sobre-mim > ul> li > a{
    color: black;
}

.meio{
    margin-top: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.meio img{
    width: 200px;
}

.meio > div{
    padding: 20px;
    width: 400px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.meio > div > h1, .meio > div > h2, .meio > div > ul{
    margin: 0;
    color: #033141;
}

.meio > div > p{
    margin: 0;
    text-align: justify;
}

.experiências{
    background-color: white;
    margin-top: 70px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.experiências > h1{
    margin: 0;
    color: #033141;
}

.experiências > p{
    margin: 15px 0px 0px 0px;
    text-align: justify;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #add8e6;
}

::-webkit-scrollbar-thumb {
    background: #4682b4;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #005f75;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #4682b4 #add8e6;
}

::-ms-scrollbar {
    width: 12px;
    background: #add8e6;
}

::-ms-scrollbar-thumb {
    background: #4682b4;
    border-radius: 6px;
}
