@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Lato:wght@700&family=Nunito&family=Poppins&family=Quicksand&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Kanit';
}

header {
    background-image: linear-gradient(to right, #033141 10%, #80cfdd);
    padding: 20px;
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    color: #ffffff;
    font-size: 42px;
}

header h1 i{
    margin-right: 20px;
}

header ul{
    list-style-type: none;
}

header li {
    display: inline-block;
}

li a {
    font-size: 20px;
    margin-right: 20px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

li a:hover {
    color: rgb(0, 0, 0);
}